body { 
font-family: 'Noto Sans', sans-serif; 
} 

#sticky { 
padding: 15px; 
width: 100%;
margin: auto; 
    display: inline-block; 
    background-color: #A3A3A3;
}
/*header { 
width: 30%; 
display: inline-block;
} */

/* nav { 
width: 65%;
display: inline-block;
float: right;
    margin-top: 40px;
} */

/*nav ul li a { 
text-decoration: none; 
font-size: 13px; 
    padding: 7px; 
   
    text-align: center;*/
}

/* nav ul li { 
display: block; 
float: left;
} */

/*.logo { 
float: left; 
display: inline; 
width: 35%;
} */ 

/*.subheader { 
float: left; 
display: inline-block;
font-size: 20px;  
padding: 10px;*/
    
} 

/* ---- All Sections ------ */ 
.container { 
width: 100%; 
} 

h1 { 
font-size: 30px;
}

h2 { 
font-size: 25px; 
} 

h3 { 
font-size: 20px;
}

h4 { 
font-size: 17px; 
} 

h5 { 
font-size: 15px;
} 

a#tableofcontents { 
width: 15%; 
display: block;
float: right;
font-size: 10px;
padding: 10px;
}

#anchor { 
width: 85%; 
display: block; 
float: left; 
} 

/* ------- Title Page -------- */ 

.frontpage { 
margin: auto; 
width: 100%; 
display: block; 
    margin-top: 60px;
} 



.title { 
margin-top: 60px; 
    margin: auto;
width: 50%;
display: block;
font-size: 30px; 
padding: 20px;
    text-align: center;
} 

#mainpics { 
margin: auto; 
width: 65%; 
display: block; 
padding: 20px; 
} 

.titan1 { 
float: left; 
display: inline; 
width: 50%;
} 

.titan2 { 
float: right; 
display: inline;
width: 50%;  
} 

.spacer { 
width: 100%; 
display: inline-block; 
height: 100px; 
padding: 10px;
}

#emptyspace { 
width: 100%; 
height: 70px;  
display: block; 
} 

/* ------ About Section ----- */ 
ul.address { 
list-style-type: none;
} 

#about { 
margin: auto; 
display: block; 
width: 85%; 
} 

/* ----------Table of Contents Section ----- */ 
#toc { 
margin: auto; 
display: block; 
width: 85%;  
} 

ul.contents { 
list-style-type: none;
} 

.block1 { 
left-margin: 20px; 
} 

.block2 { 
left-margin: 20px; 
} 

.block3 { 
left-margin: 20px; 
} 

/* --------- Safety Information Section ------ */ 

.triangle { 
display: block;
}

.warningsign { 
display: inline; 
float: left; 
width: 10%; 
padding: 10px; 
}

.warningtext { 
display: inline-block; 
width: 75%; 
}

.safety { 
display: block; 
width: 100%; 
padding:10px;
} 

#safety { 
margin-top: 70px; 
margin: auto; 
display: block; 
width: 85%; 
} 

ul.address { 
list-style-type: none; 
} 

/* ---------- Specifications Section ------------- */ 
#specs { 
margin: auto; 
display: block; 
width: 85%; 
} 

.fastenerid { 
margin: auto; 
display: block; 
width: 80%; 
padding: 10px;
} 

.bolt1 { 
width: 45%; 
display: block; 
margin: auto; 
} 

.bolt2 { 
width: 45%; 
display: block;
margin: auto; 
} 

.fid { 
margin: auto; 
width: 18%;
display: block; 
text-align: center;
} 

/* ----------------- Table ---------------- */ 

table { 
border-collapse: collapse; 
    width:75%;
    margin:auto; 
} 
td.threadsize { 
border-top: none; 
} 
.grade8steelset {
margin: auto; 
width:45%; 
}
th { 
border: 1px solid black; 
background-color: darkgray;
} 
tr td { 
border: 1px solid black;
    text-align: center;
} 

/* End of table */ 
.standtorque {  
margin: auto; 
display: block; 
width: 85%;
} 

#standtorquetitle { 
margin: auto; 
display: block; 
width: 68%; 
text-align: center;
} 

#standtorquetitlem { 
margin: auto; 
display: block; 
width: 80%; 
} 

.standtorque > p { 
font-size: 12px; 
} 

.standmetric { 
margin: auto; 
display: block; 
width: 85%;
} 

.standmetric > p { 
font-size: 12px; 
} 

.othertorque { 
margin: auto; 
display: inline-block; 
}


#specs34 { 
margin: auto; 
display: block; 
padding-bottom: 20px; 
} 

.spec3 { 
width: 50%; 
display: block; 
margin: auto; 
padding: 5px;
} 

.spec4 { 
width: 50%; 
display: block; 
margin: auto;
padding: 5px; 
} 

.steel { 
display: block; 
margin: auto;
width: 30%;
padding: 10px;
} 

.wheel { 
display: block; 
margin: auto;
width: 25%;
padding: 10px;
}

#specs56 { 
display: block; 
margin: auto; 
padding-top: 20px; 
}

.thread1 { 
display: block; 
margin: auto;
width: 42%;
padding: 10px;  
} 

.thread2 { 
display: block; 
margin: auto;
width: 42%;
padding: 10px;
} 

.spec5 { 
display: block; 
margin: auto; 
width: 50%;
padding: 5px;
} 

.spec6 { 
display: block; 
margin: auto;
width: 50%; 
padding: 5px;
} 

.undertext { 
font-size: 12px; 
display: block; 
margin: auto;
width: 40%;
} 
.conversion1 { 
width: 35%; 
margin: auto; 
display: inline; 
float: left; 
} 

.conversion2 { 
width: 35%; 
margin: auto; 
display: inline; 
float: right; 
} 

#factors { 
width: 85%; 
margin: auto; 
} 

#equiv { 
margin: auto; 
display: block; 
width: 85%; 
} 

#mill { 
margin: auto; 
width: 45%; 
display: block; 
} 

.spec7 { 
margin: auto; 
width: 85%; 
display: block; 
padding-bottom: 20px; 
} 

#us { 
margin: auto; 
width: 35%; 
display: block; 
padding-top: 10px; 
} 

.spec8 { 
margin: auto; 
width: 85%; 
display: block; 
} 

#zx { 
margin: auto; 
display: block; 
width: 32%; 
padding-top: 20px; 
} 

#mx { 
margin: auto; 
display: block; 
width: 32%; 
padding-top: 20px; 
} 

#enginerpm { 
margin: auto; 
display: block; 
width: 32%; 
padding-top: 20px; 
} 

.spec9 { 
margin: auto; 
display: block; 
width: 75%; 
padding-bottom: 20px; 
} 

.subheading { 
margin: auto; 
display: block; 
width: 20%; 
padding: 5px; 
} 

.spec10 { 
margin: auto; 
display: block; 
width: 85%; 
padding-bottom: 20px; 
} 

.spec11 { 
margin: auto; 
display: block; 
width: 85%; 
padding-bottom: 20px; 
} 

.spec17 { 
margin: auto; 
display: block; 
width: 75%;
padding-bottom: 20px; 
} 
.spec12 { 
margin: auto; 
display: block; 
width: 85%; 
padding-bottom: 20px;
} 

.spec13 { 
margin: auto; 
display: block; 
width: 75%; 
padding-bottom: 20px; 
} 

.spec14 { 
margin: auto; 
display: block; 
width: 75%; 
padding-bottom: 20px; 
} 

.spec15 { 
margin: auto; 
display: block; 
width: 75%; 
padding-bottom: 30px; 
} 

.spec16 { 
margin: auto; 
width: 70%;
display: block; 
} 

.hydroengine { 
margin: auto; 
width: 60%; 
display: block; 
padding: 10px; 
} 

.enginespec { 
margin: auto; 
width: 95%;
display: block; 
} 

.hydraulicoil { 
margin: auto; 
width: 70%; 
display: block; 
padding: 10px; 
} 

ul.steps { 
list-style-type: none; 
font-size: 15px; 
margin: auto; 
width: 20%;
} 

#chassis { 
margin: auto; 
width: 85%; 
display: block; 
} 
.greasenumber { 
margin: auto; 
width: 70%; 
display: block; 
padding-bottom: 30px; 
} 

.bigschematic { 
margin: auto; 
width: 85%; 
display: block; 
} 

.frontaxle { 
margin:auto; 
width: 70%; 
display: block; 
} 

.casterwheel { 
margin:auto; 
width: 70%; 
display: block; 
} 

/* --------Sepcifications Section ------- */ 

.speccontents { 
margin: auto; 
width: 85%; 
display: block; 
}
.typesofspecs { 
list-style-type: none; 
}
.speccontents ul li { 
list-style-type: none; 
} 

#grade158 { 
margin: auto; 
width: 45%;
padding: 10px;
text-align: center; 
}
.tablegrade158 { 
margin: auto; 
width: 45%;
text-align:center;
}
.standtorque h5 { 
margin:auto; 
width: 18%; 
padding: 8px;
text-align: center;
}


/* ------- Hamburger Menu --------- */ 
body{
  font-family: 'Noto Sans', sans-serif;
	margin:0;
}
header{
	width:100%; 
	background:#1d1f20; 
	height:50px; 
	line-height:50px;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{
    z-index:1000000; 
    font-weight:bold; 
    font-size:0.8em; 
    width:100%; 
    background:#131313;  
    position:absolute; 
    text-align:center;
}
.menu ul {
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    list-style-image: none;
}
.menu li {
    display: block;   
    padding:15px 0 15px 0; 
    border-bottom:#1d1f20 1px solid;
}
.menu li:hover{
    display: block;    
    background:#181818; 
    padding:15px 0 15px 0; 
    border-bottom:#1d1f20 1px solid;
}
.menu ul li a { 
    text-decoration:none;  
    margin: 0px; 
    color:#fff;
}
.menu ul li a:hover {  
    color: #fff;
    text-decoration:none;
}

.menu a{
    text-decoration:none;
    color:white;
}
.menu a:hover{
    text-decoration:none; 
    color:white;
}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
} 